:root {
  --footergrey: #333333;
  --cyan: #B5DDFF;
  --blue: #0084FD;
  --violet: #9792E4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2.special {
  font-size: 3rem;
  color: goldenrod;
}

ul {
  list-style: none;
}

ul > li {
  padding-left: 30px;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

.btn a {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 5px 7px;
  border-radius: 15px;
}


/**********
  UTILITY
**********/
.debug {
  /* max-width: 100%; */
  min-height: 100px;
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid black;
}

.display-flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.container {
  width: 95%;
  margin: 0 auto;
}

/**********
  HEADER
**********/
header {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color: var(--blue);
}

header .col {
  padding: 40px 10px;
}

.col.list {
  display: none;
}

/**********
  MAIN
**********/

main {
  margin-top: 80px;
}

.presentation,
.planning,
.testimonials,
.benefits,
.about-us,
.get-started,
.footer {
  padding: 50px 0;
}


/* da togliere */
section:nth-child(even) {
  background-color: var(--violet); 
}


main .row {
  flex-wrap: wrap;
  width: 100%;
}

main .row > .col {
  width: 100%;
  padding: 10px 0;
}

.card {
  height: 100%;
  padding: 10px;
  border-radius: 15px;
  margin: 0 10px;
}

.card .col {
  width: 100%;
  min-height: 200px;
  text-align: center;
}

main .presentation .card {
  background-color: var(--cyan);
}

main .presentation .row > .col:first-child .card {
  flex-direction: column;
}

main .presentation .row > .col:first-child .col.text-box {
  width: 70%;
}

main .testimonials .col.img-box {
  width: 200px;
  flex-shrink: 0;
}

main .testimonials .col.text-box {
  flex-grow: 1;
}


.testimonials,
.get-started,
footer .container {
  text-align: center;
}

/**********
  PLANNING
**********/

.planning .row .col:last-child .card {
  background-color: white;
  border-radius: 50px;

}


/**********
  TESTIMONIALS
**********/

.testimonials .card {
  background-color: var(--violet);
  border-radius: 50px;
  margin: 40px 0;
}

.testimonials .circle {
  width: 200px;
  height: 200px;
}

/**********
  BENEFITS
**********/

.benefits .container > h2 {
  text-align: center;
}

.benefits .card {
  background-color: white;
  padding: 0;
}

.benefits .card .btn a,
.about-us .btn a {
  color: white;
  background-color: var(--violet);

}

.benefits h2,
.benefits h3,
.about-us h2 {
  color: var(--violet);
}

.benefits .card .col {
  text-align: left;
  padding: 2rem 1rem;
  min-height: fit-content;
}

/**********
  ABOUT US
**********/

.about-us .row {
  padding: 0 1rem;
}

.about-us .col.text-box,
.about-us .col.img-box {
  width: 100%;
}

.circle {
  background-color: black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/**********
  GET STARTED
**********/

.get-started .col {
  gap: 10px;
}

.get-started .container {
  max-width: 530px;
}

/**********
  FOOTER
**********/

footer {
  background-color: var(--footergrey);
}

footer .container {
  max-width: 460px;
}

footer .container .col {
  gap: 20px;
}

/**********
  RESPONSIVENESS
**********/

@media screen and (min-width: 577px) {
  main .presentation .row > .col:not(:first-child) {
    max-width: calc(100% / 3);
  }
  
  main .presentation .row > .col:first-child {
    flex-basis: 66%;
    flex-grow: 1;
  }

  main .testimonials .card {
    flex-direction: row;
  }

  main .benefits .row {
    flex-direction: row;
  }

  main .benefits .row > .col {
    flex-basis: 50%;
  }

  .about-us .row {
    display: flex;
  }

  .about-us .col.text-box {
    width: 60%;
}
  .about-us .col.img-box {
    width: 40%;
  }
}

@media screen and (min-width: 769px) { 
  
  header nav.burger {
    display: none;
  }

  .col.list {
    display: block;
  }
  
  main .presentation .row > .col:first-child .card,
  main .planning .row,
  .testimonials .card {
    flex-direction: row; 
  }


  main .planning .row > .col {
    flex-basis: 50%;
  }

  .container {
    max-width: 1400px;
  }

  .planning .container {
    width: 85%;
  }

  
  main .benefits .row > .col {
    flex-basis: calc(100% / 3);
  }

}