* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**********
  UTILITY
**********/
.debug {
  /* max-width: 100%; */
  min-height: 100px;
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid black;
}

.display-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

/**********
  HEADER
**********/
header {
  width: 100%;
}

header .col {
  padding: 40px 0;
}

/**********
  MAIN
**********/

.presentation,
.planning {
  padding: 50px 0;
}

.planning {
  background-color: blue; /* da togliere */

}



main .row {
  flex-wrap: wrap;
  /* flex-direction: column;  */
  width: 100%;

}

main .row > .col {
  width: 100%;
  padding: 10px 0;
}

.card {
  flex-direction: column;
  height: 100%;
  padding: 10px;
  background-color: white;
  border: 1px solid black;  /* da togliere */
  border-radius: 5px;
}


.card .col {
  min-height: 200px;
}

.col.text-box {
  width: 70%;
}

.col.img-box {
  width: 30%;
}






/**********
  RESPONSIVENESS
**********/

@media screen and (min-width: 577px) {
  main .presentation .row > .col:not(:first-child) {
    max-width: calc(100% / 3);
  }
  
  main .presentation .row > .col:first-child {
    flex-basis: 66%;
    flex-grow: 1;
  }
}

@media screen and (min-width: 769px) {  
  .card {
    flex-direction: row; 
  }

  main .planning .row {
    flex-direction: row;
  }

  main .planning .row > .col {
    flex-basis: 50%;
  }
  
  .planning .container {
    max-width: 85%;
  }
}