* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**********
UTILITY
**********/
.debug {
  width: 100%;
  min-height: 100px;
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid black;
}

.display-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

/**********
HEADER
**********/
header {
  width: 100%;
}

/**********
MAIN
**********/

main .col {
  max-width: 100%;
}

.row {
  flex-wrap: wrap;
}

@media screen and (min-width: 577px) {
  main .col {
    max-width: 50%;
  }
  
}